@import 'tailwindcss';

@config '../../tailwind.config.cjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
  
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

input[type="text"], input[type="number"] {
    @apply rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600;
}

.slider-0, .slider-1, .slider-2 {
    --slider-height: 10px;
}
.slider-0 {
    --slider-connect-bg: var(--color-green-500)
}
.slider-1 {
    --slider-connect-bg: var(--color-amber-500)
}
.slider-2 {
    --slider-connect-bg: var(--color-blue-500)
}

.slider-target:not(:first-child) > .slider-base {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* LOADER */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* PROGRESS */
@property --progress-width {
    initial-value: 100%;
    inherits: true;
    syntax: '<percentage>';
}

@keyframes progress-down {
    to {
        --progress-width: 0%;
    }
}

.progress-bar {
    width: var(--progress-width);
    animation: progress-down 5s linear forwards;
}

/* Select Field */
.select-field {
    @apply flex flex-col w-full gap-x-5 items-start;
}

.select-field > :first-child {
    @apply text-sm;
}

.select-field > :nth-child(2) {
    @apply w-full;
}